.main-header {
    font-size: $default-size * 3;

    @include xs {
        font-size: $default-size * 4;
    }
    @include s {
        font-size: $default-size * 5;
    }
    @include m {
        font-size: $default-size * 7;
    }
    @include l {
        font-size: $default-size * 9;
    }

    text-align: center;
    color: $dark-color;

    span{
        font-weight: 600;
        text-transform: uppercase;
    }
}

.about-h,
.chosen-entry-h {
    font: {
        size: $default-size * 2;
        weight: 700;
    }

    @include xs {
        font-size: $default-size * 2.5;
    }
    @include s {
        font-size: $default-size * 3;
    }
    @include m {
        font-size: $default-size * 5;
    }
    @include l {
        font-size: $default-size * 7;
    }

    text-align: center;
    @include margin-b(1rem);
}

.about-p,
.chosen-entry-p,
.back {
    font: {
        size: $default-size * 1;
        weight: 300;
    }

    @include xs {
        font-size: $default-size * 2;
    }
    @include s {
        font-size: $default-size * 2.5;
    }
    @include m {
        font-size: $default-size * 2.8;
    }
    @include l {
        font-size: $default-size * 3;
    }

    padding-bottom: $default-size * 1.5;
}

.about-p{
    span {
        font-size: $default-size * 0.7;
    }
}

.filter-field {
    display: block;
    width: 100%;
    height: $default-size * 2.5;
    font-size: $default-size * 1;
    background-color: $light-color;
    border: 2px solid $dark-color;
    border-left: none;
    border-right: none;
    padding: $default-size / 3;

    @include xs {
        height: $default-size * 3;
        font-size: $default-size * 1.5;
    }
    @include s {
        height: $default-size * 3.5;
        font-size: $default-size * 2;
    }
    @include m {
        height: $default-size * 4;
        font-size: $default-size * 2.5;
    }
    @include l {
        height: $default-size * 4.5;
        font-size: $default-size * 3;
    }

    &:focus {
        box-shadow: 0 0 5px 1px #969696;
    }
}

.main-link {
    display: inline-block;
    font-size: $default-size;
    border: 1px solid $dark-color;
    border-radius: $default-size;
    padding: $default-size / 2;
    margin: $default-size / 2;

    @include xs {
        font-size: $default-size * 1.5;
    }
    @include s {
        font-size: $default-size * 2;
    }
    @include m {
        font-size: $default-size * 2.5;
    }
    @include l {
        height: $default-size * 4.5;
        font-size: $default-size * 3;
    }

    &:hover {
        text-decoration: none;
        color: inherit;
        color: $dark-color;
    }
}