.filter-field {
    display: block;
    width: 100%;
    height: $default-size * 2;
    font-size: $default-size;
    background-color: $light-color;
    border: 2px solid $dark-color;
    border-left: none;
    border-right: none;
    padding: $default-size / 3;
    
    @include m {
        font-size: $default-size * 2;
        height: $default-size * 3;
    }
    @include l {
        font-size: $default-size * 3;
        height: $default-size * 5;
    }
    
    &:focus {
        box-shadow: 0 0 5px 1px #969696;
    }
}

