html {
    height: 100%;
}

body {
    background-color: $lightest-color;
    position: relative;
    min-height: 100%;
    font-family: $default-font;
    font-weight: 300;
}

.margin-b {
    @include margin-b(4rem);
}

footer {
    img{
        height: 2.5rem;
    }
    position: absolute;
    bottom: 0;
    height: 4rem;
    width: 100%;
    text-align: center;
    background-color: $dark-color;
    color: $light-color;
}