html {
    height: 100%;
}

body {
    background-color: $lightest-color;
    position: relative;
    min-height: 100%;
    font-family: $default-font;
    font-weight: 300;
}

p {
    @include xs {
        font-size: $default-size * 1.5;
    }
    @include s {
        font-size: $default-size * 2.2;
    }
    @include m {
        font-size: $default-size * 2;
    }
    span {
        font-size: $default-size * 0.7;
    }
}

.margin-b {
    @include margin-b(4rem);
}

footer {
    img{
        height: 2.5rem;
    }
    position: absolute;
    bottom: 0;
    height: 4rem;
    width: 100%;
    text-align: center;
    background-color: $dark-color;
    color: $light-color;
}

.center-txt {
    text-align: center;
}

.center-block {
    margin: 0 auto;
}