body {
    font-family: $default-font;
    font-weight: 300;
}

.main-header {
    font-size: $default-size * 3;
    
    @include s {
        font-size: $default-size * 5;
    }
    @include m {
        font-size: $default-size * 7;
    }
    @include l {
        font-size: $default-size * 9;
    }
    
    text-align: center;
    color: $dark-color;
    
    span{
        font-weight: 600;
        text-transform: uppercase;
    }
}

.about-h,
.chosen-entry-h {
    font: {
        size: $default-size * 2;
        weight: 700;
    }
    
    @include l {
        font-size: $default-size * 4;
    }
    
    text-align: center;
    @include margin-b(1rem);
}

.about-p,
.chosen-entry-p {
    font: {
        size: $default-size * 1.5;
        weight: 300;
    }
    padding-bottom: $default-size * 1.5;
    
    @include l {
        font-size: $default-size * 2;
    }
}

.about-p{
    span {
        font-size: $default-size * 0.7;
    }
}