<div class="container">
    <div class="row margin-b">
        <div class="col-md-12">
            <h1 class="main-header"><span>neuro</span>pedia</h1>
        </div>
    </div>
</div>
<div class="container-fluid" ng-view>
</div>