/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, X:/webdesign/home-app/public-work/style/vendor/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 28, X:/webdesign/home-app/public-work/style/vendor/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, X:/webdesign/home-app/public-work/style/vendor/_reset.scss */
body {
  line-height: 1; }

/* line 34, X:/webdesign/home-app/public-work/style/vendor/_reset.scss */
ol, ul {
  list-style: none; }

/* line 37, X:/webdesign/home-app/public-work/style/vendor/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 41, X:/webdesign/home-app/public-work/style/vendor/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, X:/webdesign/home-app/public-work/style/vendor/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, X:/webdesign/home-app/public-work/style/partials/_general.scss */
html {
  height: 100%; }

/* line 5, X:/webdesign/home-app/public-work/style/partials/_general.scss */
body {
  background-color: #fafafa;
  position: relative;
  min-height: 100%;
  font-family: "Work Sans", sans-serif;
  font-weight: 300; }

/* line 13, X:/webdesign/home-app/public-work/style/partials/_general.scss */
.margin-b {
  margin-bottom: 3rem; }

/* line 17, X:/webdesign/home-app/public-work/style/partials/_general.scss */
footer {
  position: absolute;
  bottom: 0;
  height: 4rem;
  width: 100%;
  text-align: center;
  background-color: #212E40;
  color: #8F96A0; }
  /* line 18, X:/webdesign/home-app/public-work/style/partials/_general.scss */
  footer img {
    height: 2.5rem; }

/* line 1, X:/webdesign/home-app/public-work/style/partials/_elements.scss */
.main-header {
  font-size: 5rem;
  text-align: center;
  color: #212E40; }
  @media (min-width: 992px) {
    /* line 1, X:/webdesign/home-app/public-work/style/partials/_elements.scss */
    .main-header {
      font-size: 7rem; } }
  @media (min-width: 1200px) {
    /* line 1, X:/webdesign/home-app/public-work/style/partials/_elements.scss */
    .main-header {
      font-size: 9rem; } }
  /* line 14, X:/webdesign/home-app/public-work/style/partials/_elements.scss */
  .main-header span {
    font-weight: 600;
    text-transform: uppercase; }

/* line 21, X:/webdesign/home-app/public-work/style/partials/_elements.scss */
.about-h,
.chosen-entry-h {
  font-size: 5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem; }
  @media (min-width: 1200px) {
    /* line 21, X:/webdesign/home-app/public-work/style/partials/_elements.scss */
    .about-h,
    .chosen-entry-h {
      font-size: 4rem; } }

/* line 36, X:/webdesign/home-app/public-work/style/partials/_elements.scss */
.about-p,
.chosen-entry-p {
  font-size: 3rem;
  font-weight: 300;
  padding-bottom: 1.5rem; }
  @media (min-width: 1200px) {
    /* line 36, X:/webdesign/home-app/public-work/style/partials/_elements.scss */
    .about-p,
    .chosen-entry-p {
      font-size: 2rem; } }

/* line 49, X:/webdesign/home-app/public-work/style/partials/_elements.scss */
.about-p span {
  font-size: 0.7rem; }

/* line 54, X:/webdesign/home-app/public-work/style/partials/_elements.scss */
.filter-field {
  display: block;
  width: 100%;
  height: 4rem;
  font-size: 3rem;
  background-color: #8F96A0;
  border: 2px solid #212E40;
  border-left: none;
  border-right: none;
  padding: 0.33333rem; }
  /* line 65, X:/webdesign/home-app/public-work/style/partials/_elements.scss */
  .filter-field:focus {
    box-shadow: 0 0 5px 1px #969696; }

/* line 70, X:/webdesign/home-app/public-work/style/partials/_elements.scss */
.main-link {
  display: inline-block;
  font-size: 4rem;
  border: 1px solid #212E40;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem; }
  @media (min-width: 992px) {
    /* line 70, X:/webdesign/home-app/public-work/style/partials/_elements.scss */
    .main-link {
      font-size: 2rem; } }
  /* line 82, X:/webdesign/home-app/public-work/style/partials/_elements.scss */
  .main-link:hover {
    text-decoration: none;
    color: inherit;
    color: #212E40; }

/* line 1, X:/webdesign/home-app/public-work/style/partials/_animations.scss */
.animate-item.ng-enter, .animate-item.ng-move {
  transition: 0.5s linear all;
  opacity: 0; }

/* line 7, X:/webdesign/home-app/public-work/style/partials/_animations.scss */
.animate-item.ng-enter.ng-enter-active,
.animate-item.ng-move.ng-move-active {
  opacity: 1; }

/* line 11, X:/webdesign/home-app/public-work/style/partials/_animations.scss */
.animate-item.ng-leave {
  animation: 0.5s my_animation; }

@keyframes my_animation {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

/* line 20, X:/webdesign/home-app/public-work/style/partials/_animations.scss */
.animate-main.ng-enter, .animate-main.ng-move {
  transition: 0.5s linear all;
  opacity: 0; }

/* line 26, X:/webdesign/home-app/public-work/style/partials/_animations.scss */
.animate-main.ng-enter.ng-enter-active,
.animate-main.ng-move.ng-move-active {
  opacity: 1; }

/* line 30, X:/webdesign/home-app/public-work/style/partials/_animations.scss */
.animate-main.ng-leave {
  opacity: 0; }

/*# sourceMappingURL=style.css.map */