$lightest-color: #fafafa;
$light-color: #8F96A0;
$medium-color: #384353;
$dark-color: #212E40;
$default-size: 1rem;
$default-font: 'Work Sans', sans-serif;

//RWD
$xsmall-width: 480px;
$small-width: 768px;
$medium-width: 992px;
$large-width: 1200px;