<div class="row about margin-b">
   <div class="col-md-10 col-md-offset-1">
        <h1 class="about-h">informacje</h1>
   </div>
</div>
<div class="row about margin-b">
    <div class="col-md-8 col-md-offset-2">
        <img src="assets/images/logo.svg" alt="neurony.org" class="img-responsive">
        <p>autor słownika: dr&nbsp;n.&nbsp;med.&nbsp;Marcin&nbsp;Leśniak</p>
        <p>wsparcie merytoryczne: dr&nbsp;n.&nbsp;med.&nbsp;Szczepan&nbsp;Iwański</p>
        <p>web development: Patryk&nbsp;Mazurkiewicz</p>
        <p>powered by: M<span>ongoDB</span>E<span>express</span>A<span>ngularJS</span>N<span>odeJS</span>&nbsp;stack</p>
        <p><a href="/#/">wstecz</a></p>
    </div>
</div>