<div class="row about margin-b">
   <div class="col-md-10 col-md-offset-1">
        <h1 class="about-h">informacje</h1>
   </div>
</div>
<div class="row about margin-b">
    <div class="col-md-8 col-md-offset-2">
        <img src="assets/images/logo.svg" alt="neurony.org">
        <p class="about-p">autor słownika: dr n. med. Marcin Leśniak</p>
        <p class="about-p">web development: Patryk Mazurkiewicz</p>
        <p class="about-p">powered by: M<span>ongoDB</span>E<span>express</span>A<span>ngularJS</span>N<span>odeJS</span> stack</p>
        <p><a href="/#/">wstecz</a></p>
    </div>
</div>